.distanceContainer{
    height: 100px;
    width: 100%;
    border: black solid 1px;
    background-color: #8ABAD3FF;
    margin-top: 5px;
    border-radius: 10px;
    text-align: center;
    padding: 35px;
    }